node_modules/
__pycache__
app.egg-info
*.pyc
.mypy_cache
.coverage
htmlcov
.cache
.venv
.env
qwen_embeddings_cache.pkl
*.egg-info
# frontend/.next/ # Temporarily allow .next for easier deployment
frontend_original/